/* PRODUCT Introduction */
.PRODUCT {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    align-items: center;
    justify-content: center;
}
/* Header */
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* Header */
.background-video {
    min-width: 100%;
    min-height: 100%;
}
/* Header */
.PRODUCT {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    align-items: center;
    justify-content: center;
}

/* Header */
.text-overlay {
    position: absolute;
    top: 50%; /* Set the top position to 50% */
    left: 50%; /* Set the left position to 50% */
    transform: translate(-50%, -50%); /* Center the div both horizontally and vertically */
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.home_text {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: capitalize;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 0 4px #000;
}
/* Header */
.Pers_text {
    font-size: 30px;
    margin-bottom: 30px;
    text-shadow: 0 0 4px #000;
}
/* Header */
.pathcross {
    color: #FF0000; /* Set the desired color for the word "PATHCROSS" */
    /* Add any other styling specific to the word "PATHCROSS" here */
}
/* Header */
.home_button {
    margin-top: 10px;
    position: relative;
    display: flex;
    border-radius: 50%;
    border: 2px solid hsl(0, 79%, 48%);
    width: 150px;
    height: 150px;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    justify-self: center;
    /* background-color: #ED3333; */
    margin-top: 100px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-size: x-large;


}
/* Header */
.home_button::before{
    content: '';
    border: 2px solid hsl(0, 89%, 43%);
    width: 170px;
    height: 170px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 12px hsl(15,89%,43%);
    transition: .3s;
    animation: button 3s infinite;

}

/* animation of button */
@keyframes button{
   0%{
    box-shadow: 0 0 12px hsl(0, 80%, 48%);
   }
   50%{
    box-shadow: 0 0 60px hsl(0, 100%, 50%);
   }
}
/* List of Products */
a {
    text-decoration: none; /* Remove underline from all anchor tags */
    color: inherit; /* Keep the default color of the parent element (usually black) */
}

/* a:hover {

    color: #ED3333;
} */
/* END HEADER */
.product-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit:contain;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (max-width: 768px) {
    .text-overlay {
      top: 50%; /* Adjust the value to your preference */
    }
  }
/* Scroll smoothly */
  html {
    scroll-behavior: smooth;
   }

   #ATV {
    margin-top: 0.5%;
    padding-bottom: 15%;
   }

   .card-title{
    font-family: 'Bebas Neue', sans-serif;
   }

   .card-text{
    font-family: 'Arimo', sans-serif;

    }
