<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="Navigation">

        <a href="/HomePage/home.html" class="navbar-brand">
            <img src="https://39514401.fs1.hubspotusercontent-na1.net/hubfs/39514401/AODES/Images/LOGO.png" alt="AODES LOGO" width=" " height="50"
            class="d-inline-block align-top" />

        </a>
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#toggleMobileMenu"
        aria-controls="toggleMobileMenu"
        aria-expanded="false"
        aria-lable="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center navtext">
            <li>
                <a class="nav-link" href="/">INICIO</a>
            </li>
            <li>
                <a class="nav-link" href="/unidades">UNIDADES</a>
            </li>
            <li>
                <a class="nav-link" href="/nosotros">NOSOTROS</a>
            </li>
            <li>
                <a class="nav-link" href="/dealer">BECOME A DEALER</a>
            </li>
            <li>
                <a class="nav-link" href="/dealer/locator">DEALER LOCATOR</a>
            </li>
        </ul>
        </div>
    </nav>
</div>
