/* Navigation */
#Navigation {
    box-shadow: 0 6px 7px -7px rgb(71, 71, 71);


}
.navtext {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.25rem;
}

.nav-link{
    text-transform: capitalize;
    position: relative;
}

.nav-link:after{
    content: "";
    position: absolute;
    background-color: #ED3333;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    display: block;

}

.nav-link:hover:after{
  width: 100%;
}
/* End Navigation  */


.masthead {
    background-size: cover;
    min-height: 50vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2)
}

.titulo{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 4rem;
    font-style: italic;
}

.rojo{
    color: #ED3333;
}
.sub{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.9rem;
}
.parrafo{
    text-align: center;

}
.min{
    font-weight: bolder;
}

.textarea {
    font-family: 'Arimo', sans-serif;
    width: 100%; 
    max-width: 1100px; 
    margin: 20px auto; 
    padding-bottom: 50px;
}






