<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Google Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Bebas+Neue&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/css/unidades.css">
    <title>UNIDADES</title>
</head>
<body>

    <!-- Navigation Bar -->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="Navigation">

            <a href="/" class="navbar-brand">
                <img src="https://39514401.fs1.hubspotusercontent-na1.net/hubfs/39514401/AODES/Images/LOGO.png" alt="AODES LOGO" width=" " height="50"
                class="d-inline-block align-top" />

            </a>
            <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-lable="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="navbar-nav ms-auto text-center navtext">
                <li>
                    <a class="nav-link" href="/">INICIO</a>
                </li>
                <li>
                    <a class="nav-link" href="/unidades">UNIDADES</a>
                </li>
                <li>
                    <a class="nav-link" href="/nosotros">NOSOTROS</a>
                </li>
                <li>
                    <a class="nav-link" href="/dealer">BECOME A DEALER</a>
                </li>
                <li>
                    <a class="nav-link" href="/dealerlocator">DEALER LOCATOR</a>
                </li>
            </ul>
            </div>
        </nav>
    </div>

    <!-- ATV CARDS -->

    <div class="container prod" id="ATV">
        <h1 class="product-title">ATV</h1>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 animate-card">
                    <div class="card h-100">
                        <a href="/Unidades/pathcross/pathcross650">
                            <img class="card-img-top" src="https://39514401.fs1.hubspotusercontent-na1.net/hubfs/39514401/AODES/Images/650L/Black/L-left-view.jpg" alt="Motorcycle Card 1">
                            <div class="card-body">
                                <h4 class="card-title">PATHCROSS 650 L</h4>
                                <p class="card-text">
                                    Perfecto para la aventura y para el trabajo.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            <div class="col-lg-3 col-md-6 mb-4 animate-card">
                <div class="card h-100">
                    <a href="/ProductPage/UNIDADES/ATVs/pathcross800/pathcross850.html">
                        <img class="card-img-top" src="https://39514401.fs1.hubspotusercontent-na1.net/hubfs/39514401/AODES/Images/850L/Red/left-view.jpg" alt="Motorcycle Card 2">
                            <div class="card-body">
                                <h4 class="card-title">PATHCROSS 850 L</h4>
                                <p class="card-text">
                                    Ideal para rutas y paseos sin importar el terreno.
                                </p>
                            </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 animate-card">
                <div class="card h-100">
                    <a href="/ProductPage/UNIDADES/ATVs/pathcross1000/pathcross1000.html">
                        <img class="card-img-top" src="https://39514401.fs1.hubspotusercontent-na1.net/hubfs/39514401/AODES/Images/1000L/WHITE/left-view.jpg" alt="Motorcycle Card 3">
                            <div class="card-body">
                                <h4 class="card-title">PATHCROSS 1000 L</h4>
                                <p class="card-text">
                                    Te permitirá disfrutar del aire libre con todas las comodidades.
                                </p>
                            </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 animate-card">
                <div class="card h-100">
                    <a href="/ProductPage/UNIDADES/ATVs/mudcross1000/mudcross1000.html">
                        <img class="card-img-top" src="https://39514401.fs1.hubspotusercontent-na1.net/hubfs/39514401/AODES/Images/MUDPROL/left-view.jpg" alt="Motorcycle Card 4">
                        <div class="card-body">
                            <h4 class="card-title">PATHCROSS 1000 L MUD PRO</h4>
                            <p class="card-text">
                                Diseñada para conquistar terrenos sin restricciones y ofrecer un rendimiento extremo.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- UTV CARDS -->

    <div class="container prod" id="UTV">
        <h1 class="product-title">UTV</h1>
        <div class="row justify-content-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="/ProductPage/UNIDADES/UTVs/workcross/800hvacx6/W800HVAC.html">
                        <img class="card-img-top" src="https://39514401.fs1.hubspotusercontent-na1.net/hubfs/39514401/AODES/Images/workcross/800hvac/front-left.jpg" alt="Motorcycle Card 2">
                        <div class="card-body">
                            <h4 class="card-title-workcross">WORKCROSS 800 HVAC X6</h4>
                            <p class="card-text-workcross">
                                Ya sea un viaje familiar o con amigos, esta UTV ofrece una variedad de opciones.

                            </p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="/ProductPage/UNIDADES/UTVs/workcross/workcross1000hvacx6/W1000hvacx6.html">
                        <img class="card-img-top" src="https://39514401.fs1.hubspotusercontent-na1.net/hubfs/39514401/AODES/Images/workcross/1000HVACx6/frontleft.jpg" alt="Motorcycle Card 2">
                        <div class="card-body">
                            <h4 class="card-title-workcross">WORKCROSS 1000 HVAC X6</h4>
                            <p class="card-text-workcross">
                                ¡Siente el viento soplar mientras conduces este UTV!
                                La potencia de la serie workcross es sin duda de las más impresionantes.


                            </p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="/ProductPage/UNIDADES/UTVs/desertcross/D10003HVAC.html">
                        <img class="card-img-top" src="https://39514401.fs1.hubspotusercontent-na1.net/hubfs/39514401/AODES/Images/Desertcross/Desertcross%201000%203%20HVAC/Dessertcross%20images/left%20front.jpg" alt="Motorcycle Card 1">
                        <div class="card-body">
                            <h4 class="card-title-workcross">DESERTCROSS 1000 HVAC X3</h4>
                            <p class="card-text-workcross">
                                Completamente equipada, cabina dura con puertas y ventanas corredizas, calefacción y aire acondicionado.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="/ProductPage/UNIDADES/UTVs/desertcross/D1000x6H.html">
                        <img class="card-img-top" src="https://39514401.fs1.hubspotusercontent-na1.net/hubfs/39514401/AODES/Images/Desertcross/Desertcross%201000%206%20HVAC/Desertcross%20images/left-front.jpg" alt="Motorcycle Card 2">
                        <div class="card-body">
                            <h4 class="card-title-workcross">DESERTCROSS 1000 HVAC X6</h4>
                            <p class="card-text-workcross">
                                Perfecta para cualquier terreno, puedes manejar en cualquier temporada del año; con calefacción y aire acondicionado.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
