/* Navigation bar */

#Navigation {
    box-shadow: 0 6px 7px -7px rgb(71, 71, 71);
    
   
}
.navtext {
    font-family: 'Bebas Neue', sans-serif;
    
}

.nav-link{
    text-transform: capitalize;
    position: relative; 
}

.nav-link:after{
    content: "";
    position: absolute;
    background-color: #ED3333;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s; 
    display: block;

}

.nav-link:hover:after{
  width: 100%;
}
/* End Navigation  */

/* Product Section */

.bg-image {
        background-image: url("/Images/AODES_Pathcross.png");
        background-size: 80% auto;
        
        background-repeat: no-repeat;
        background-position: 80% 10%;
        overflow: hidden;
    
  }
  .moto {
    max-width: 80%; /* Set the maximum width of the image to 100% */
    height: auto; /* Maintain the aspect ratio */
}

.Product_title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.75rem;
}

.Background-image{
    background-image: url("/Images/AODES_Seccion_Galeri­a.png");
    background-repeat: no-repeat;
    overflow: hidden;
}
