/* Navigation */
#Navigation {
    box-shadow: 0 6px 7px -7px rgb(71, 71, 71);
}

.navtext {
    font-family: 'Bebas Neue', sans-serif;
    font-size: large;
}

.nav-link {
    text-transform: capitalize;
    position: relative;
}

.nav-link:after {
    content: "";
    position: absolute;
    background-color: #ED3333;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    display: block;
}

.nav-link:hover:after {
    width: 100%;
}

/* End Navigation  */

.product-title {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: contain;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .text-overlay {
        top: 50%; /* Adjust the value to your preference */
    }
}

/* Scroll smoothly */
html {
    scroll-behavior: smooth;
}
.product-title{
    font-family: 'Bebas Neue', sans-serif;
}

#ATV {
    margin-top: 0.5%;
    padding-bottom: 1%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* UTV Section */

.workcross{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

/* Title cards */
.card-title{
    font-family: 'Bebas Neue', sans-serif;
}

/* Text Cards */
.card-text{
    font-family: 'Arimo', sans-serif;
    text-align: justify;
}
/* ATVS */
.card-title-workcross{
    font-family: 'Bebas Neue', sans-serif;
}

.card-text-workcross{
    font-family: 'Arimo', sans-serif;
    text-align: justify;
}