.product-title {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: contain;
}


@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .text-overlay {
        top: 50%; /* Adjust the value to your preference */
    }
}

/* Scroll smoothly */
html {
    scroll-behavior: smooth;
}
.product-title{
    font-family: 'Bebas Neue', sans-serif;
}

#ATV {
    margin-top: 0.5%;
    padding-bottom: 1%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* UTV Section */

.workcross{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

/* Title cards */
.ct{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Text Cards */
.card-text{
    font-family: 'Arimo', sans-serif;
    text-align: justify;
    font-size: 16px;
    margin-bottom: 20px;
}
/* ATVS */
.card-title-workcross{
    font-family: 'Bebas Neue', sans-serif;
    text-align: justify;
}
